<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN" "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
  <session-factory>
    <property name="hibernate.dialect">org.hibernate.dialect.PostgreSQLDialect</property>
    <property name="hibernate.connection.driver_class">org.postgresql.Driver</property>
    <property name="hibernate.connection.url">jdbc:postgresql://localhost:5432/qit</property>
    <property name="hibernate.connection.username">postgres</property>
    <property name="hibernate.connection.password">postgres</property>
    <mapping class="modelo.MaquinasExecutarScript"/>
    <mapping class="modelo.ExecucaoInstalacao"/>
    <mapping class="modelo.Permissao"/>
    <mapping class="modelo.Sala"/>
    <mapping class="modelo.Auditoria"/>
    <mapping class="modelo.Predio"/>
    <mapping class="modelo.Configuracao"/>
    <mapping class="modelo.Usuario"/>
    <mapping class="modelo.Particao"/>
    <mapping class="modelo.Tipo"/>
    <mapping class="modelo.ExecucaoScript"/>
    <mapping class="modelo.InstalacaoSoftware"/>
    <mapping class="modelo.PlacaRede"/>
    <mapping class="modelo.Software"/>
    <mapping class="modelo.Grupo"/>
    <mapping class="modelo.Script"/>
    <mapping class="modelo.Maquina"/>
    <mapping class="modelo.MaquinasExecucaoInstalacao"/>
    <mapping class="modelo.Tela"/>
    <mapping class="modelo.SoftwaresMaquina"/>
    <mapping class="modelo.Dependencia"/>
  </session-factory>
</hibernate-configuration>
