/servidor/QIT-Servidor/nbproject/private/
/cliente/QIT-Cliente/nbproject/private/
/agente/QIT-Agente/nbproject/private/
/cliente/QIT-Cliente/dist/
/servidor/QIT-Servidor/build/
/cliente/QITJFTF/nbproject/private/
/cliente/QITJFTF/build/
/cliente/QITJFTF/dist/
/servidor/QIT-Servidor/dist/
/agente/QIT-Agente/dist/
/cliente/JComboCheckBox/build/
/cliente/JComboCheckBox/dist/